<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/ui/css/register.css"> <!-- Подключаем новый файл со стилями -->
</head>
<body>
    <header> <!-- Новый тег для заголовка -->
        <h1>Регистрация пользователя</h1>
    </header>
    {{ if . }}
    <form action="/register" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Почта:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Зарегистрироваться</button>
        {{range .Errors}}
        <h3><strong>{{.}}</strong></h3>
    
        {{ end }}
    </form>
        <footer>
            <p>© 2024 | Твои магистрали</p>
        </footer>
    {{ else }}
    <form action="/register" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br>
        <h4>Имя пользователя допускает:</h4>
        <h4> - буквы русского и английского алфавита</h4>
        <h4> - цифры и нижние подчеркивания</h4>

        <label for="email">Почта:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>
        <h4>Пароль должен содержать:</h4>
    
            <h4> - одну заглавную букву,</h4>
            <h4> - одну строчную букву,</h4>
            <h4> - одну цифру,</h4> 
            <h4> - один специальный символ,</h4>
            <h4> - имееть длину не менее 8 символов</h4>

        <button type="submit">Зарегистрироваться</button>
    </form>
    <form>
        <h4>Зарегистрироваться с помощью:</h4>
            <button action="/register" method="post" type="submit">Google</button>
            <button action="/register" method="post" type="submit">GitHub</button>
        </form>
    </form>
    <footer>
        <p>© 2024 | Твои магистрали</p>
    </footer>
    {{ end }}
</body>
</html>
