<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои темы</title>
    <link rel="stylesheet" href="/ui/css/userposts.css">
</head>
<body>
    <header>
        <h1>Мои созданные темы</h1>
        <nav>
            <ul class="show">
                <li><a href="/userd3">Главная</a></li>
                <li><a href="/userd3/posts">Создать тему</a></li>
                <li><a href="/userd3/myposts">Мои темы</a></li>
                <li><a href="/userd3/likeposts">Понравившиеся темы</a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <ul class="posts-list">
        {{if .}}
        {{range .}}
        <li class="post">
            <a href="/userd3/post/{{.PostID}}" class="post post-link">
            <h3>Тема: {{.Title}}</h3>
            <p>{{.Description}}</p>
                <div class="post-info">
                 <p>Категория: {{.CategoryName}}</p>
                 <p>Дата создания: {{.CreatedAt}}</p>
                 </div>
            </a> 
        </li>
        {{end}}
        {{else}}
        <li>Вы еще не создали ни одной темы</li>
        {{end}}
    </ul>
    </section>
    <footer>
        <p>© 2024 | Твои магистрали</p>
    </footer>
</body>
</html>
