/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Шапка */
header {
    background-color: rgb(236, 110, 38);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Навигационное меню */
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Секция с контентом */
.section {
    padding: 20px;
}

/* Список постов */
.posts-list {
    list-style: none;
    padding: 0;
}

.posts-list li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
}

.posts-list li h3 {
    margin-top: 0;
}

/* Футер */
footer {
    background-color: rgb(236, 110, 38);
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Медиа-запросы для адаптивности */

/* Для устройств с шириной экрана до 600px */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section {
        padding: 10px;
    }

    .posts-list li {
        padding: 10px;
    }
}
