/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для header и footer */
header, footer {
    background-color: rgb(236, 110, 38);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; /* Добавляем относительное позиционирование для header */
}

/* Навигационное меню в сером прямоугольнике */
nav {
    background-color: #ddd; /* Серый цвет фона */
    padding: 10px;
    margin-bottom: 20px; /* Отступ снизу */
    border-radius: 10px; /* Закругление углов */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0; /* Убираем правый отступ у последнего элемента */
}

nav ul li a {
    color: #333; /* Цвет текста */
    text-decoration: none;
    padding: 8px 16px; /* Поля внутри элемента */
    border-radius: 5px; /* Закругление углов кнопок */
}

nav ul li a:hover {
    background-color: #bbb; /* Серый цвет фона при наведении */
}

/* Секция с контентом */
.section {
    padding: 30px;
}

.category-section {
    margin-bottom: 20px;
}

.category-section label {
    display: block;
    margin-bottom: 10px;
}

.category-section select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-section button {
    background-color: rgb(240, 13, 13);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.category-section button:hover {
    background-color: #d00;
}

/* Список постов */
.posts-list {
    list-style: none;
    padding: 20px;
    margin-bottom: calc(20px + 70px); /* Высота футера + отступ */
}

.posts-list li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9; /* Цвет фона поста */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для поста */
    border-radius: 8px; /* Закругление углов поста */
    transition: all 0.3s ease; /* Плавное изменение при наведении */
}

.posts-list li:hover {
    transform: translateY(-5px); /* Небольшое поднятие при наведении */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Увеличение тени при наведении */
}

.posts-list li h3 {
    margin-top: 0;
    color: rgb(236, 110, 38); /* Цвет заголовка поста */
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}

.post-info p {
    margin-right: 20px;
    margin-bottom: 10px;
}

.post-info .basic-info p {
    font-size: 14px;
}

.post-info .reactions p {
    margin-bottom: 0;
}
/* Стили для цифр Нравится и Не нравится */
.posts-list .post .post-info p .like-count {
    color: green !important; /* Зеленый цвет для Нравится */
}

.posts-list .post .post-info p .dislike-count {
    color: red !important; /* Красный цвет для Не нравится */
}


.post-link {
    text-decoration: none;
    color: inherit; /* Использовать цвет текста родительского элемента */
}
.description-container {
    max-width: 100%;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
}

/* Футер */
footer {
    background-color: rgb(236, 110, 38);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Стили для маленького текста */
.small-font {
    font-size: 15px !important;
}

/* Медиа-запросы для адаптивности */
@media only screen and (max-width: 600px) {
 
    header {
        padding-bottom: 1px;
    }
    /* Уменьшаем размер текста в заголовке */
    header h1 {
        font-size: 20px;
        margin-top: 0px;
        padding-bottom: 0px;
    }
    /* Стили для списка элементов меню */
    nav ul {
        background-color: #ddd;
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        overflow-x: auto; /* Добавляем горизонтальную прокрутку */
        white-space: nowrap;
    }
   
    nav ul li {
        display: inline-block;
        justify-content: center;
    }
    
}






